<div class="container-fluid splash">
  <nav>
    <ul class="options pull-right">
      <% if logged_in? %>
        <li class="open-dash">
          <a href="/admin">Open Dashboard</a>
        </li>
      <% else %>
        <li class="open-login">
          <%= link_to 'Login', new_session_url %>
        </li>
        <li class="open-signup">
          <%= link_to 'Sign Up', new_user_url %>
        </li>
      <% end %>
    </ul>
  </nav>

  <div class="row">
    <div class="col-sm-12">
      <h1 class="landing-title">DIANE & MAEL</h1>
      <h2 class="tag-line">Connectez vous pour accéder à la galerie de photos</h2>
      <div class="get-started-guest"><%= link_to 'Guest Login', new_session_url(demo: "true"), { method: "get", class: "guest-login-button", id: "guest-login-button"} %></div>
      <div class="check-out-demo">Les identifiants vous ont été au préalable fournis par email</div>
    </div>
  </div>
</div>
